<div class="row">

    <div class="col-md-8">
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <p class="text-13">
                        <i class="fa-solid fa-gears"></i>
                        <strong>Skills</strong>
                    </p>
                    <div id="skillsLeft"></div>
                </div>

                <div class="col-6">
                    <div class="about-line-2"></div>
                    <div id="skillsRight"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 hobbies order-md-2 text-start">
        <p class="text-13"><strong>Hobbies</strong></p>
        <ul class="hobby-list" id="hobbies"></ul>
    </div>

</div>