/* --- ПРАВА ЧАСТИНА --- */
.content {
  flex: 1 1 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  box-sizing: border-box;
}

.AWARDS {
  border-radius: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 15px;
  min-width: 200px;
  max-width: 20%;
  margin: 0 0 6px 0;
  box-sizing: border-box;
}

.about-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.ABOUT {
  border-radius: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 15px;
  min-width: 200px;
  max-width: 45%;
  margin: 0;
}

.about-section {
  width: 100%;
}

.about-line {
  flex: 55%;
  height: 8px;
  border-radius: 0px;
  background: linear-gradient(
                  90deg,
                  rgba(0,0,0,0.15),
                  rgba(0,0,0,0.05)
  );
}

.about-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.text-1 {
  font-size: clamp(18px, 2vw, 28px);
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.icon-white {
  color: white;
  font-size: 1.5em;
  margin-right: 10px;
  vertical-align: middle;
}